In [0]:
json_df = spark.read.format("json").option("header", 'true').option("inferSchema", 'true').option("mode", 'PERMISSIVE').load("/FileStore/tables/line_delimited_json.json")

json_df.show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [0]:
json_ef_df = spark.read.format("json").option("header", 'true').option("inferSchema", 'true').option("mode", 'PERMISSIVE').load("/FileStore/tables/line_deli_extra_fields.json")

json_ef_df.show()

+---+------+--------+------+
|age|gender|    name|salary|
+---+------+--------+------+
| 20|  null|  Manish| 20000|
| 25|  null|  Nikita| 21000|
| 16|  null|  Pritam| 22000|
| 35|  null|Prantosh| 25000|
| 67|     M|  Vikash| 40000|
+---+------+--------+------+

In [0]:
# .option('multiline', 'true')\                      # added

json_mc_df = spark.read.format("json")\
.option("header", 'true')\
.option("inferSchema", 'true')\
.option("mode", 'PERMISSIVE')\
.option('multiline', 'true')\
.load("/FileStore/tables/multiline_correct.json")

json_mc_df.show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [0]:
# .option('multiline', 'true')\                      # added

json_mc_df = spark.read.format("json")\
.option("header", 'true')\
.option("inferSchema", 'true')\
.option("mode", 'PERMISSIVE')\
.option('multiline', 'true')\
.load("/FileStore/tables/multi_line_incorrect.json")

json_mc_df.show()

+---+------+------+
|age|  name|salary|
+---+------+------+
| 20|Manish| 20000|
+---+------+------+

In [0]:
# .option('multiline', 'true')\                      # added

json_cj_df = spark.read.format("json")\
.option("header", 'true')\
.option("inferSchema", 'true')\
.option("mode", 'PERMISSIVE')\
.load("/FileStore/tables/corrupted_json.json")

json_cj_df.show(truncate=False)

+----------------------------------------+----+--------+------+
|_corrupt_record                         |age |name    |salary|
+----------------------------------------+----+--------+------+
|null                                    |20  |Manish  |20000 |
|null                                    |25  |Nikita  |21000 |
|null                                    |16  |Pritam  |22000 |
|null                                    |35  |Prantosh|25000 |
|{"name":"Vikash","age":67,"salary":40000|null|null    |null  |
+----------------------------------------+----+--------+------+

In [0]:
par_df = spark.read.parquet('/FileStore/tables/part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz.parquet')
par_df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows