In [48]:
import pandas as pd

df = pd.read_csv("sample1.csv")

df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [49]:
df.columns.tolist()

['Date', 'Symbol', 'Open', 'High', 'Low', 'Close', 'Volume']

In [50]:
type(df['Date'][0])

str

In [51]:
df.dtypes

Date       object
Symbol     object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [52]:
print(df.loc[0, "Date"])

df.loc[3, "Date"]

2020-03-13 08-PM

'2020-03-13 05-PM'

In [53]:
df.loc[3, "Date"].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [7]:
# 1st way

df["Date"] = pd.to_datetime(df["Date"], format = "%Y-%m-%d %I-%p")  # %I => 12 hour 
df['Date']

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
19994   2017-12-01 18:00:00
19995   2017-12-01 17:00:00
19996   2017-12-01 16:00:00
19997   2017-12-01 15:00:00
19998   2017-12-01 14:00:00
Name: Date, Length: 19999, dtype: datetime64[ns]

In [8]:
df.loc[3, 'Date'].day_name()

'Friday'

In [9]:
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
19994 2017-12-01 18:00:00  ETHUSD  452.14  453.88  450.70  452.63  2917055.16
19995 2017-12-01 17:00:00  ETHUSD  452.24  453.20  450.13  452.14  4008631.78
19996 2017-12-01 16:00:00  ETHUSD  449.00  454.00  447.26  452.24  4401582.53
19997 2017-12-01 15:00:00  ETHUSD  451.00  451.00  446.20  449.00  4027856.04
19998 2017-12-01 14:00:00  ETHUSD  457.90  458.00  446.00  451.00  5700243.44

[19999 rows x 7 columns]

In [10]:
# 2nd way
import pandas as pd 

df = pd.read_csv("sample1.csv", parse_dates=["Date"], date_format="%Y-%m-%d %I-%p")
df.head()

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3 2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4 2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [11]:
df.loc[2, 'Date'].day_name()

'Friday'

In [12]:
df['Date'].day_name()

AttributeError: 'Series' object has no attribute 'day_name'

In [13]:
df['Date'].dt.day_name()           # dt for series object

0        Friday
1        Friday
2        Friday
3        Friday
4        Friday
          ...
19994    Friday
19995    Friday
19996    Friday
19997    Friday
19998    Friday
Name: Date, Length: 19999, dtype: object

In [14]:
df["dayfromweek"] = df['Date'].dt.day_name()
df

,Date,Symbol,Open,High,Low,Close,Volume,dayfromweek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
19994,2017-12-01 18:00:00,ETHUSD,452.14,453.88,450.70,452.63,2917055.16,Friday
19995,2017-12-01 17:00:00,ETHUSD,452.24,453.20,450.13,452.14,4008631.78,Friday
19996,2017-12-01 16:00:00,ETHUSD,449.00,454.00,447.26,452.24,4401582.53,Friday
19997,2017-12-01 15:00:00,ETHUSD,451.00,451.00,446.20,449.00,4027856.04,Friday
19998,2017-12-01 14:00:00,ETHUSD,457.90,458.00,446.00,451.00,5700243.44,Friday

In [15]:
df['Date'].min()

Timestamp('2017-12-01 14:00:00')

In [16]:
df['Date'].max()

Timestamp('2020-03-13 20:00:00')

In [17]:
df['Date'].max() - df['Date'].min()

Timedelta('833 days 06:00:00')

In [18]:
filterr = df['Date'] >= '2020'
df.loc[filterr]

,Date,Symbol,Open,High,Low,Close,Volume,dayfromweek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
1744,2020-01-01 04:00:00,ETHUSD,129.57,130.00,129.50,129.56,702786.82,Wednesday
1745,2020-01-01 03:00:00,ETHUSD,130.37,130.44,129.38,129.57,496704.23,Wednesday
1746,2020-01-01 02:00:00,ETHUSD,130.14,130.50,129.91,130.37,396315.72,Wednesday
1747,2020-01-01 01:00:00,ETHUSD,128.34,130.14,128.32,130.14,635419.40,Wednesday
1748,2020-01-01 00:00:00,ETHUSD,128.54,128.54,128.12,128.34,245119.91,Wednesday

In [19]:
##1st way - using filter

filterr = (df['Date'] >= '2019') & (df['Date'] < '2020')
df.loc[filterr]

,Date,Symbol,Open,High,Low,Close,Volume,dayfromweek
1749,2019-12-31 23:00:00,ETHUSD,128.33,128.69,128.14,128.54,440678.91,Tuesday
1750,2019-12-31 22:00:00,ETHUSD,128.38,128.69,127.95,128.33,554646.02,Tuesday
1751,2019-12-31 21:00:00,ETHUSD,127.86,128.43,127.72,128.38,350155.69,Tuesday
1752,2019-12-31 20:00:00,ETHUSD,127.84,128.34,127.71,127.86,428183.38,Tuesday
1753,2019-12-31 19:00:00,ETHUSD,128.69,128.69,127.60,127.84,1169847.84,Tuesday
...,...,...,...,...,...,...,...,...
10504,2019-01-01 04:00:00,ETHUSD,130.75,133.96,130.74,131.96,2791135.37,Tuesday
10505,2019-01-01 03:00:00,ETHUSD,130.06,130.79,130.06,130.75,503732.63,Tuesday
10506,2019-01-01 02:00:00,ETHUSD,130.79,130.88,129.55,130.06,838183.43,Tuesday
10507,2019-01-01 01:00:00,ETHUSD,131.62,131.62,130.77,130.79,434917.99,Tuesday
10508,2019-01-01 00:00:00,ETHUSD,130.53,131.91,130.48,131.62,1067136.21,Tuesday

In [20]:
## 2nd way- using set_index 

df.set_index('Date', inplace=True)
df

,Symbol,Open,High,Low,Close,Volume,dayfromweek
Date,,,,,,,
2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...
2017-12-01 18:00:00,ETHUSD,452.14,453.88,450.70,452.63,2917055.16,Friday
2017-12-01 17:00:00,ETHUSD,452.24,453.20,450.13,452.14,4008631.78,Friday
2017-12-01 16:00:00,ETHUSD,449.00,454.00,447.26,452.24,4401582.53,Friday
2017-12-01 15:00:00,ETHUSD,451.00,451.00,446.20,449.00,4027856.04,Friday
2017-12-01 14:00:00,ETHUSD,457.90,458.00,446.00,451.00,5700243.44,Friday

In [21]:
df['2020-01': '2020-02']

,Symbol,Open,High,Low,Close,Volume,dayfromweek
Date,,,,,,,
2020-02-29 23:00:00,ETHUSD,223.35,223.58,216.83,217.31,1927939.88,Saturday
2020-02-29 22:00:00,ETHUSD,223.48,223.59,222.14,223.35,535998.57,Saturday
2020-02-29 21:00:00,ETHUSD,224.63,225.14,222.74,223.48,561158.03,Saturday
2020-02-29 20:00:00,ETHUSD,225.31,225.33,223.50,224.63,511648.65,Saturday
2020-02-29 19:00:00,ETHUSD,225.09,225.85,223.87,225.31,1250856.20,Saturday
...,...,...,...,...,...,...,...
2020-01-01 04:00:00,ETHUSD,129.57,130.00,129.50,129.56,702786.82,Wednesday
2020-01-01 03:00:00,ETHUSD,130.37,130.44,129.38,129.57,496704.23,Wednesday
2020-01-01 02:00:00,ETHUSD,130.14,130.50,129.91,130.37,396315.72,Wednesday
2020-01-01 01:00:00,ETHUSD,128.34,130.14,128.32,130.14,635419.40,Wednesday
2020-01-01 00:00:00,ETHUSD,128.54,128.54,128.12,128.34,245119.91,Wednesday

In [22]:
df['2020-01': '2020-02']['Close']    # 'Close' column

Date
2020-02-29 23:00:00    217.31
2020-02-29 22:00:00    223.35
2020-02-29 21:00:00    223.48
2020-02-29 20:00:00    224.63
2020-02-29 19:00:00    225.31
                        ...
2020-01-01 04:00:00    129.56
2020-01-01 03:00:00    129.57
2020-01-01 02:00:00    130.37
2020-01-01 01:00:00    130.14
2020-01-01 00:00:00    128.34
Name: Close, Length: 1440, dtype: float64

In [23]:
df['2020-01': '2020-02']['Close'].mean()

195.1655902777778

In [24]:
df.head(6)

,Symbol,Open,High,Low,Close,Volume,dayfromweek
Date,,,,,,,
2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
2020-03-13 15:00:00,ETHUSD,128.39,128.90,116.06,124.85,7378976.00,Friday

In [25]:
df.loc['2020-01-01', 'High'].max()         # only specific day

132.68

In [26]:
df['High'].resample('D')

In [27]:
df.High.resample('D').max()                 # series re-sample way-1

Date
2017-12-01    468.43
2017-12-02    474.96
2017-12-03    483.50
2017-12-04    473.00
2017-12-05    470.00
               ...
2020-03-09    208.65
2020-03-10    206.28
2020-03-11    202.98
2020-03-12    195.64
2020-03-13    148.00
Freq: D, Name: High, Length: 834, dtype: float64

In [28]:
df['High'].resample('D').max()                 # series re-sample way-2

Date
2017-12-01    468.43
2017-12-02    474.96
2017-12-03    483.50
2017-12-04    473.00
2017-12-05    470.00
               ...
2020-03-09    208.65
2020-03-10    206.28
2020-03-11    202.98
2020-03-12    195.64
2020-03-13    148.00
Freq: D, Name: High, Length: 834, dtype: float64

In [29]:
highs = df['High'].resample('D').max()

highs['2020-01-01']                         # 2nd way- for any date we can write

132.68

In [30]:
df.resample('W').max()                                          # df resample

            Symbol    Open    High     Low   Close       Volume dayfromweek
Date
2017-12-03  ETHUSD  481.00  483.50  479.97  481.00  10664909.89      Sunday
2017-12-10  ETHUSD  511.49  535.10  504.26  511.49  37752069.53   Wednesday
2017-12-17  ETHUSD  756.34  784.77  738.67  756.34  59491228.13   Wednesday
2017-12-24  ETHUSD  858.90  875.00  842.03  858.90  56413943.79   Wednesday
2017-12-31  ETHUSD  770.00  771.00  764.06  770.00  11962534.86   Wednesday
...            ...     ...     ...     ...     ...          ...         ...
2020-02-16  ETHUSD  286.39  290.00  285.10  286.39  13323454.31   Wednesday
2020-02-23  ETHUSD  285.30  287.13  282.00  285.30  12085035.32   Wednesday
2020-03-01  ETHUSD  276.91  278.13  274.28  276.91  19074673.60   Wednesday
2020-03-08  ETHUSD  247.62  253.01  245.01  247.62   8804126.61   Wednesday
2020-03-15  ETHUSD  207.79  208.65  205.83  207.79  19731142.71   Wednesday

[120 rows x 7 columns]

In [31]:
df.resample('W').agg({"Open": "min", "Close": "max", "High": "mean"})

              Open   Close        High
Date
2017-12-03  449.00  481.00  467.566207
2017-12-10  421.84  511.49  462.139286
2017-12-17  447.71  756.34  658.695595
2017-12-24  558.37  858.90  763.758571
2017-12-31  676.04  770.00  736.642976
...            ...     ...         ...
2020-02-16  218.32  286.39  257.255238
2020-02-23  245.78  285.30  267.263690
2020-03-01  212.50  276.91  238.697500
2020-03-08  204.05  247.62  231.284583
2020-03-15   98.88  207.79  179.979487

[120 rows x 3 columns]

In [32]:
df.resample('W').agg({"Open": "min", "Close": "max", "High": "mean", "Low": "sum"})

              Open   Close        High        Low
Date
2017-12-03  449.00  481.00  467.566207   26795.69
2017-12-10  421.84  511.49  462.139286   76140.34
2017-12-17  447.71  756.34  658.695595  107609.64
2017-12-24  558.37  858.90  763.758571  124095.69
2017-12-31  676.04  770.00  736.642976  121715.64
...            ...     ...         ...        ...
2020-02-16  218.32  286.39  257.255238   42450.20
2020-02-23  245.78  285.30  267.263690   44175.35
2020-03-01  212.50  276.91  238.697500   39347.07
2020-03-08  204.05  247.62  231.284583   38366.80
2020-03-15   98.88  207.79  179.979487   20233.54

[120 rows x 4 columns]

In [33]:
df.resample('W').agg({"Open": "first", "Close": "last", "High": "std", "Low": "sum", "Volume": "count"})

              Open   Close       High        Low  Volume
Date
2017-12-03  457.90  464.76   7.596056   26795.69      58
2017-12-10  464.76  447.71  19.655189   76140.34     168
2017-12-17  447.71  732.18  92.297151  107609.64     168
2017-12-24  732.18  697.04  60.608048  124095.69     168
2017-12-31  697.04  741.27  17.973451  121715.64     168
...            ...     ...        ...        ...     ...
2020-02-16  228.80  258.50  21.902430   42450.20     168
2020-02-23  258.50  275.48   9.040750   44175.35     168
2020-03-01  275.48  217.26  17.499909   39347.07     168
2020-03-08  217.26  199.46   8.094714   38366.80     168
2020-03-15  199.46  128.71  30.584368   20233.54     117

[120 rows x 5 columns]

In [34]:
df.resample('M').max()

,Symbol,Open,High,Low,Close,Volume,dayfromweek
Date,,,,,,,
2017-12-31,ETHUSD,858.90,875.00,842.03,858.90,59491228.13,Wednesday
2018-01-31,ETHUSD,1418.61,1419.96,1388.99,1418.61,85697897.38,Wednesday
2018-02-28,ETHUSD,1138.68,1143.00,1130.00,1138.68,65294635.29,Wednesday
2018-03-31,ETHUSD,875.99,878.00,872.43,875.99,30603586.60,Wednesday
2018-04-30,ETHUSD,709.00,711.00,703.76,709.00,19518568.43,Wednesday
2018-05-31,ETHUSD,828.00,828.97,821.55,828.00,14019757.37,Wednesday
2018-06-30,ETHUSD,623.89,627.83,620.32,623.89,21252246.93,Wednesday
2018-07-31,ETHUSD,508.23,515.88,505.00,508.23,11452114.66,Wednesday
2018-08-31,ETHUSD,432.16,435.48,431.83,431.84,13350990.97,Wednesday
2018-09-30,ETHUSD,301.51,302.20,297.33,301.51,15626958.72,Wednesday
2018-10-31,ETHUSD,233.20,234.92,232.60,233.20,17900746.75,Wednesday
2018-11-30,ETHUSD,220.36,222.78,219.47,220.36,17127149.84,Wednesday
2018-12-31,ETHUSD,156.07,159.51,148.17,156.07,10259203.67,Wednesday
2019-01-31,ETHUSD,159.43,160.61,158.40,159.43,7407809.95,Wednesday
2019-02-28,ETHUSD,164.08,165.62,163.36,164.08,8271746.25,Wednesday
2019-03-31,ETHUSD,144.99,147.00,143.93,144.99,5348620.43,Wednesday
2019-04-30,ETHUSD,185.32,187.62,182.29,185.32,11669363.24,Wednesday
2019-05-31,ETHUSD,287.08,288.77,284.38,287.08,29887309.86,Wednesday
2019-06-30,ETHUSD,355.31,364.49,348.84,355.31,25961930.68,Wednesday
2019-07-31,ETHUSD,317.14,318.60,315.04,317.14,20574517.64,Wednesday
2019-08-31,ETHUSD,235.50,239.45,233.34,235.50,9585028.33,Wednesday
2019-09-30,ETHUSD,221.90,224.71,220.10,221.90,17108775.14,Wednesday
2019-10-31,ETHUSD,196.07,199.50,193.41,196.07,9827869.51,Wednesday
2019-11-30,ETHUSD,193.66,194.60,192.50,193.66,6020476.21,Wednesday
2019-12-31,ETHUSD,151.78,153.00,150.90,151.55,5487419.52,Wednesday
2020-01-31,ETHUSD,186.62,186.89,183.90,186.62,7500284.81,Wednesday
2020-02-29,ETHUSD,286.39,290.00,285.10,286.39,19074673.60,Wednesday
2020-03-31,ETHUSD,247.62,253.01,245.01,247.62,19731142.71,Wednesday

In [35]:
df.resample('Y').max()

,Symbol,Open,High,Low,Close,Volume,dayfromweek
Date,,,,,,,
2017-12-31,ETHUSD,858.90,875.00,842.03,858.90,59491228.13,Wednesday
2018-12-31,ETHUSD,1418.61,1419.96,1388.99,1418.61,85697897.38,Wednesday
2019-12-31,ETHUSD,355.31,364.49,348.84,355.31,29887309.86,Wednesday
2020-12-31,ETHUSD,286.39,290.00,285.10,286.39,19731142.71,Wednesday

In [36]:
df.resample('Q').max()

,Symbol,Open,High,Low,Close,Volume,dayfromweek
Date,,,,,,,
2017-12-31,ETHUSD,858.90,875.00,842.03,858.90,59491228.13,Wednesday
2018-03-31,ETHUSD,1418.61,1419.96,1388.99,1418.61,85697897.38,Wednesday
2018-06-30,ETHUSD,828.00,828.97,821.55,828.00,21252246.93,Wednesday
2018-09-30,ETHUSD,508.23,515.88,505.00,508.23,15626958.72,Wednesday
2018-12-31,ETHUSD,233.20,234.92,232.60,233.20,17900746.75,Wednesday
2019-03-31,ETHUSD,164.08,165.62,163.36,164.08,8271746.25,Wednesday
2019-06-30,ETHUSD,355.31,364.49,348.84,355.31,29887309.86,Wednesday
2019-09-30,ETHUSD,317.14,318.60,315.04,317.14,20574517.64,Wednesday
2019-12-31,ETHUSD,196.07,199.50,193.41,196.07,9827869.51,Wednesday
2020-03-31,ETHUSD,286.39,290.00,285.10,286.39,19731142.71,Wednesday

In [40]:
df[: '2020-01-01']

,Symbol,Open,High,Low,Close,Volume,dayfromweek
Date,,,,,,,
2020-01-01 23:00:00,ETHUSD,129.77,130.27,129.24,130.19,215362.64,Wednesday
2020-01-01 22:00:00,ETHUSD,131.41,131.41,129.36,129.77,411940.73,Wednesday
2020-01-01 21:00:00,ETHUSD,131.73,131.99,130.97,131.41,1168999.08,Wednesday
2020-01-01 20:00:00,ETHUSD,131.34,131.87,131.23,131.73,162346.84,Wednesday
2020-01-01 19:00:00,ETHUSD,131.64,131.72,131.15,131.34,167992.84,Wednesday
...,...,...,...,...,...,...,...
2017-12-01 18:00:00,ETHUSD,452.14,453.88,450.70,452.63,2917055.16,Friday
2017-12-01 17:00:00,ETHUSD,452.24,453.20,450.13,452.14,4008631.78,Friday
2017-12-01 16:00:00,ETHUSD,449.00,454.00,447.26,452.24,4401582.53,Friday
2017-12-01 15:00:00,ETHUSD,451.00,451.00,446.20,449.00,4027856.04,Friday
2017-12-01 14:00:00,ETHUSD,457.90,458.00,446.00,451.00,5700243.44,Friday

In [46]:
import numpy as np
import pandas as pd

date1 = pd.date_range(start="2022-01-01", periods=10, freq="D")

data = {
    "date": date1,
    "value": np.random.randint(10, 100, size=10),
    "score": np.random.rand(10)
}

df = pd.DataFrame(data)
df

        date  value     score
0 2022-01-01     88  0.187884
1 2022-01-02     35  0.835653
2 2022-01-03     12  0.407129
3 2022-01-04     52  0.686366
4 2022-01-05     50  0.209617
5 2022-01-06     62  0.228995
6 2022-01-07     70  0.515714
7 2022-01-08     88  0.425469
8 2022-01-09     49  0.844439
9 2022-01-10     84  0.048365