In [0]:
customer_data = [(1,'manish','patna',"30-05-2022"),
(2,'vikash','kolkata',"12-03-2023"),
(3,'nikita','delhi',"25-06-2023"),
(4,'rahul','ranchi',"24-03-2023"),
(5,'mahesh','jaipur',"22-03-2023"),
(6,'prantosh','kolkata',"18-10-2022"),
(7,'raman','patna',"30-12-2022"),
(8,'prakash','ranchi',"24-02-2023"),
(9,'ragini','kolkata',"03-03-2023"),
(10,'raushan','jaipur',"05-02-2023")]

customer_schema=['customer_id','customer_name','address','date_of_joining']


sales_data = [(1,22,10,"01-06-2022"),
(1,27,5,"03-02-2023"),
(2,5,3,"01-06-2023"),
(5,22,1,"22-03-2023"),
(7,22,4,"03-02-2023"),
(9,5,6,"03-03-2023"),
(2,1,12,"15-06-2023"),
(1,56,2,"25-06-2023"),
(5,12,5,"15-04-2023"),
(11,12,76,"12-03-2023")]

sales_schema=['customer_id','product_id','quantity','date_of_purchase']


product_data = [(1, 'fanta',20),
(2, 'dew',22),
(5, 'sprite',40),
(7, 'redbull',100),
(12,'mazza',45),
(22,'coke',27),
(25,'limca',21),
(27,'pepsi',14),
(56,'sting',10)]

product_schema=['id','name','price']

In [0]:
cust_df = spark.createDataFrame(data=customer_data, schema=customer_schema)

sales_df = spark.createDataFrame(data=sales_data, schema=sales_schema)

product_df = spark.createDataFrame(data=product_data, schema=product_schema)

In [0]:
cust_df.show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          7|        raman|  patna|     30-12-2022|
|          8|      prakash| ranchi|     24-02-2023|
|          9|       ragini|kolkata|     03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

In [0]:
sales_df.show()

+-----------+----------+--------+----------------+
|customer_id|product_id|quantity|date_of_purchase|
+-----------+----------+--------+----------------+
|          1|        22|      10|      01-06-2022|
|          1|        27|       5|      03-02-2023|
|          2|         5|       3|      01-06-2023|
|          5|        22|       1|      22-03-2023|
|          7|        22|       4|      03-02-2023|
|          9|         5|       6|      03-03-2023|
|          2|         1|      12|      15-06-2023|
|          1|        56|       2|      25-06-2023|
|          5|        12|       5|      15-04-2023|
|         11|        12|      76|      12-03-2023|
+-----------+----------+--------+----------------+

In [0]:
cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'inner').show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
# this error comes when same column occurs multiple times

cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'inner')\
    .select('customer_id').show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-260234610128201>:3
      1 # this error comes when same column occurs multiple times
----> 3 cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'inner')\
      4     .select('customer_id').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [AMBIGUOUS_REFERENCE] Reference `customer_id` is ambiguous, could be: [`customer_id`, `customer_id`].

In [0]:
cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'inner')\
    .select(sales_df['customer_id']).show()

+-----------+
|customer_id|
+-----------+
|          1|
|          1|
|          1|
|          2|
|          2|
|          5|
|          5|
|          7|
|          9|
+-----------+

In [0]:
cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'inner')\
    .select(sales_df['product_id']).sort('product_id').show()

+----------+
|product_id|
+----------+
|         1|
|         5|
|         5|
|        12|
|        22|
|        22|
|        22|
|        27|
|        56|
+----------+

In [0]:
cust_df.join(sales_df, (cust_df['customer_id']==sales_df['customer_id']) & (cust_df['product_id']==sales_df['product_id']), 'inner')\
    .select(sales_df['product_id']).sort('product_id').show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-431437943855903>:1
----> 1 cust_df.join(sales_df, (cust_df['customer_id']==sales_df['customer_id']) & (cust_df['product_id']==sales_df['product_id']), 'inner')\
      2     .select(sales_df['product_id']).sort('product_id').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2918, in DataFrame.__getitem__(self, item)
   2876 """Returns the column as a :class:`Column`.
   2877
   2878 .. versionadded:: 1.3.0
   (...)
   2915 +---+----+
   2916 """
   2917 if isinstance(item, str):
-> 2918     jc = self._jdf.apply(item)
   2919     return Column(jc)
   2920 elif isinstance(item, Column):

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `product_id` cannot be resolved. Did you mean one of the following? [`customer_id`, `customer_name`, `address`, `date_of_joining`].

In [0]:
cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'left').show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
## full outer join

cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'outer').show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
|       null|         null|   null|           null|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
## customers who have not purchased our product

cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'left').where(sales_df['product_id'].isNull()).show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
sales_df.join(product_df, sales_df['product_id']==product_df['id'], 'right').show()

+-----------+----------+--------+----------------+---+-------+-----+
|customer_id|product_id|quantity|date_of_purchase| id|   name|price|
+-----------+----------+--------+----------------+---+-------+-----+
|          2|         1|      12|      15-06-2023|  1|  fanta|   20|
|       null|      null|    null|            null|  2|    dew|   22|
|          9|         5|       6|      03-03-2023|  5| sprite|   40|
|          2|         5|       3|      01-06-2023|  5| sprite|   40|
|       null|      null|    null|            null|  7|redbull|  100|
|         11|        12|      76|      12-03-2023| 12|  mazza|   45|
|          5|        12|       5|      15-04-2023| 12|  mazza|   45|
|          7|        22|       4|      03-02-2023| 22|   coke|   27|
|          5|        22|       1|      22-03-2023| 22|   coke|   27|
|          1|        22|      10|      01-06-2022| 22|   coke|   27|
|       null|      null|    null|            null| 25|  limca|   21|
|          1|        27|       5|      03-02-2023| 27|  pepsi|   14|
|          1|        56|       2|      25-06-2023| 56|  sting|   10|
+-----------+----------+--------+----------------+---+-------+-----+

In [0]:
product_df.join(sales_df, product_df['id']==sales_df['product_id'], 'left').show()

+---+-------+-----+-----------+----------+--------+----------------+
| id|   name|price|customer_id|product_id|quantity|date_of_purchase|
+---+-------+-----+-----------+----------+--------+----------------+
|  1|  fanta|   20|          2|         1|      12|      15-06-2023|
|  2|    dew|   22|       null|      null|    null|            null|
|  5| sprite|   40|          9|         5|       6|      03-03-2023|
|  5| sprite|   40|          2|         5|       3|      01-06-2023|
|  7|redbull|  100|       null|      null|    null|            null|
| 12|  mazza|   45|         11|        12|      76|      12-03-2023|
| 12|  mazza|   45|          5|        12|       5|      15-04-2023|
| 22|   coke|   27|          7|        22|       4|      03-02-2023|
| 22|   coke|   27|          5|        22|       1|      22-03-2023|
| 22|   coke|   27|          1|        22|      10|      01-06-2022|
| 25|  limca|   21|       null|      null|    null|            null|
| 27|  pepsi|   14|          1|        27|       5|      03-02-2023|
| 56|  sting|   10|          1|        56|       2|      25-06-2023|
+---+-------+-----+-----------+----------+--------+----------------+

In [0]:
## left semi join

cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'left_semi').show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          7|        raman|  patna|     30-12-2022|
|          9|       ragini|kolkata|     03-03-2023|
+-----------+-------------+-------+---------------+

In [0]:
## left semi join

cust_df.join(sales_df, cust_df['customer_id']==sales_df['customer_id'], 'left_anti').show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          8|      prakash| ranchi|     24-02-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

In [0]:
sales_df.crossJoin(product_df).count()

Out[24]: 90

In [0]:
emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema = ['id', 'name', 'salary', 'dept', 'gender']

emp_df = spark.createDataFrame(data=emp_data, schema=emp_schema)
emp_df.show()

+---+--------+------+---------+------+
| id|    name|salary|     dept|gender|
+---+--------+------+---------+------+
|  1|  manish| 50000|       IT|     m|
|  2|  vikash| 60000|    sales|     m|
|  3| raushan| 70000|marketing|     m|
|  4|  mukesh| 80000|       IT|     m|
|  5|   priti| 90000|    sales|     f|
|  6|  nikita| 45000|marketing|     f|
|  7|  ragini| 55000|marketing|     f|
|  8|   rashi|100000|       IT|     f|
|  9|  aditya| 65000|       IT|     m|
| 10|   rahul| 50000|marketing|     m|
| 11|   rakhi| 50000|       IT|     f|
| 12|akhilesh| 90000|    sales|     m|
+---+--------+------+---------+------+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

emp_df.groupBy('dept').agg(sum('salary').alias('sum_salary')).show()

+---------+----------+
|     dept|sum_salary|
+---------+----------+
|       IT|    345000|
|marketing|    220000|
|    sales|    240000|
+---------+----------+

In [0]:
from pyspark.sql.window import Window

window1 = Window.partitionBy('column').orderBy('column')

In [0]:
window1 = Window.partitionBy('dept')

emp_df.withColumn('salary', sum('salary').over(window1)).show()

+---+--------+------+---------+------+
| id|    name|salary|     dept|gender|
+---+--------+------+---------+------+
|  1|  manish|345000|       IT|     m|
|  4|  mukesh|345000|       IT|     m|
|  8|   rashi|345000|       IT|     f|
|  9|  aditya|345000|       IT|     m|
| 11|   rakhi|345000|       IT|     f|
|  3| raushan|220000|marketing|     m|
|  6|  nikita|220000|marketing|     f|
|  7|  ragini|220000|marketing|     f|
| 10|   rahul|220000|marketing|     m|
|  2|  vikash|240000|    sales|     m|
|  5|   priti|240000|    sales|     f|
| 12|akhilesh|240000|    sales|     m|
+---+--------+------+---------+------+

In [0]:
emp_df.withColumn('total_salary', sum(col('salary')).over(window1)).show()

+---+--------+------+---------+------+------------+
| id|    name|salary|     dept|gender|total_salary|
+---+--------+------+---------+------+------------+
|  1|  manish| 50000|       IT|     m|      345000|
|  4|  mukesh| 80000|       IT|     m|      345000|
|  8|   rashi|100000|       IT|     f|      345000|
|  9|  aditya| 65000|       IT|     m|      345000|
| 11|   rakhi| 50000|       IT|     f|      345000|
|  3| raushan| 70000|marketing|     m|      220000|
|  6|  nikita| 45000|marketing|     f|      220000|
|  7|  ragini| 55000|marketing|     f|      220000|
| 10|   rahul| 50000|marketing|     m|      220000|
|  2|  vikash| 60000|    sales|     m|      240000|
|  5|   priti| 90000|    sales|     f|      240000|
| 12|akhilesh| 90000|    sales|     m|      240000|
+---+--------+------+---------+------+------------+

In [0]:
emp_df.withColumn('row_no', row_number().over(window1)).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3583412114917440>:1
----> 1 emp_df.withColumn('row_no', row_number().over(window1)).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:4758, in DataFrame.withColumn(self, colName, col)
   4753 if not isinstance(col, Column):
   4754     raise PySparkTypeError(
   4755         error_class="NOT_A_COLUMN",
   4756         message_parameters={"arg_name": "col", "arg_type": type(col).__name__},
   4757     )
-> 4758 return DataFrame(self._jdf.withColumn(colName, col._jc), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Window function row_number() requires window to be ordered, please add ORDER BY clause. For example SELECT row_number()(value_expr) OVER (PARTITION BY window_partition ORDER BY window_ordering) from table.

In [0]:
window1 = Window.partitionBy('dept').orderBy('salary')

emp_df.withColumn('row_no', row_number().over(window1)).show()

+---+--------+------+---------+------+------+
| id|    name|salary|     dept|gender|row_no|
+---+--------+------+---------+------+------+
|  1|  manish| 50000|       IT|     m|     1|
| 11|   rakhi| 50000|       IT|     f|     2|
|  9|  aditya| 65000|       IT|     m|     3|
|  4|  mukesh| 80000|       IT|     m|     4|
|  8|   rashi|100000|       IT|     f|     5|
|  6|  nikita| 45000|marketing|     f|     1|
| 10|   rahul| 50000|marketing|     m|     2|
|  7|  ragini| 55000|marketing|     f|     3|
|  3| raushan| 70000|marketing|     m|     4|
|  2|  vikash| 60000|    sales|     m|     1|
|  5|   priti| 90000|    sales|     f|     2|
| 12|akhilesh| 90000|    sales|     m|     3|
+---+--------+------+---------+------+------+

In [0]:
window1 = Window.partitionBy('dept', 'gender').orderBy('salary')

emp_df.withColumn('row_no', row_number().over(window1)).show()

+---+--------+------+---------+------+------+
| id|    name|salary|     dept|gender|row_no|
+---+--------+------+---------+------+------+
| 11|   rakhi| 50000|       IT|     f|     1|
|  8|   rashi|100000|       IT|     f|     2|
|  1|  manish| 50000|       IT|     m|     1|
|  9|  aditya| 65000|       IT|     m|     2|
|  4|  mukesh| 80000|       IT|     m|     3|
|  6|  nikita| 45000|marketing|     f|     1|
|  7|  ragini| 55000|marketing|     f|     2|
| 10|   rahul| 50000|marketing|     m|     1|
|  3| raushan| 70000|marketing|     m|     2|
|  5|   priti| 90000|    sales|     f|     1|
|  2|  vikash| 60000|    sales|     m|     1|
| 12|akhilesh| 90000|    sales|     m|     2|
+---+--------+------+---------+------+------+

In [0]:
window1 = Window.partitionBy('dept').orderBy('salary')

emp_df.withColumn('row_no', row_number().over(window1))\
    .withColumn('rank', rank().over(window1))\
    .withColumn('dense_rank', dense_rank().over(window1))\
    .show()

+---+--------+------+---------+------+------+----+----------+
| id|    name|salary|     dept|gender|row_no|rank|dense_rank|
+---+--------+------+---------+------+------+----+----------+
|  1|  manish| 50000|       IT|     m|     1|   1|         1|
| 11|   rakhi| 50000|       IT|     f|     2|   1|         1|
|  9|  aditya| 65000|       IT|     m|     3|   3|         2|
|  4|  mukesh| 80000|       IT|     m|     4|   4|         3|
|  8|   rashi|100000|       IT|     f|     5|   5|         4|
|  6|  nikita| 45000|marketing|     f|     1|   1|         1|
| 10|   rahul| 50000|marketing|     m|     2|   2|         2|
|  7|  ragini| 55000|marketing|     f|     3|   3|         3|
|  3| raushan| 70000|marketing|     m|     4|   4|         4|
|  2|  vikash| 60000|    sales|     m|     1|   1|         1|
|  5|   priti| 90000|    sales|     f|     2|   2|         2|
| 12|akhilesh| 90000|    sales|     m|     3|   2|         2|
+---+--------+------+---------+------+------+----+----------+

In [0]:
window1 = Window.partitionBy('dept', 'gender').orderBy('salary')

emp_df.withColumn('row_no', row_number().over(window1))\
    .withColumn('rank', rank().over(window1))\
    .withColumn('dense_rank', dense_rank().over(window1))\
    .show()

+---+--------+------+---------+------+------+----+----------+
| id|    name|salary|     dept|gender|row_no|rank|dense_rank|
+---+--------+------+---------+------+------+----+----------+
| 11|   rakhi| 50000|       IT|     f|     1|   1|         1|
|  8|   rashi|100000|       IT|     f|     2|   2|         2|
|  1|  manish| 50000|       IT|     m|     1|   1|         1|
|  9|  aditya| 65000|       IT|     m|     2|   2|         2|
|  4|  mukesh| 80000|       IT|     m|     3|   3|         3|
|  6|  nikita| 45000|marketing|     f|     1|   1|         1|
|  7|  ragini| 55000|marketing|     f|     2|   2|         2|
| 10|   rahul| 50000|marketing|     m|     1|   1|         1|
|  3| raushan| 70000|marketing|     m|     2|   2|         2|
|  5|   priti| 90000|    sales|     f|     1|   1|         1|
|  2|  vikash| 60000|    sales|     m|     1|   1|         1|
| 12|akhilesh| 90000|    sales|     m|     2|   2|         2|
+---+--------+------+---------+------+------+----+----------+

In [0]:
# want higher salary employees with dense_rank <= 2

window1 = Window.partitionBy('dept').orderBy(desc('salary'))

emp_df.withColumn('row_no', row_number().over(window1))\
    .withColumn('rank', rank().over(window1))\
    .withColumn('dense_rank', dense_rank().over(window1)).filter('dense_rank'<=2)\
    .show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-3583412114917444>:7
      1 # want higher salary employees with dense_rank <= 2
      3 window1 = Window.partitionBy('dept').orderBy(desc('salary'))
      5 emp_df.withColumn('row_no', row_number().over(window1))\
      6     .withColumn('rank', rank().over(window1))\
----> 7     .withColumn('dense_rank', dense_rank().over(window1)).filter('dense_rank'<=2)\
      8     .show()

TypeError: '<=' not supported between instances of 'str' and 'int'

In [0]:
# want higher salary employees with dense_rank <= 2

window1 = Window.partitionBy('dept').orderBy(desc('salary'))

emp_df.withColumn('row_no', row_number().over(window1))\
    .withColumn('rank', rank().over(window1))\
    .withColumn('dense_rank', dense_rank().over(window1)).filter(col('dense_rank')<=2)\
    .show()

+---+--------+------+---------+------+------+----+----------+
| id|    name|salary|     dept|gender|row_no|rank|dense_rank|
+---+--------+------+---------+------+------+----+----------+
|  8|   rashi|100000|       IT|     f|     1|   1|         1|
|  4|  mukesh| 80000|       IT|     m|     2|   2|         2|
|  3| raushan| 70000|marketing|     m|     1|   1|         1|
|  7|  ragini| 55000|marketing|     f|     2|   2|         2|
|  5|   priti| 90000|    sales|     f|     1|   1|         1|
| 12|akhilesh| 90000|    sales|     m|     2|   1|         1|
|  2|  vikash| 60000|    sales|     m|     3|   3|         2|
+---+--------+------+---------+------+------+----+----------+

In [0]:
# want higher salary employees (gendewise) with dense_rank <= 2

window1 = Window.partitionBy('dept', 'gender').orderBy(desc('salary'))

emp_df.withColumn('row_no', row_number().over(window1))\
    .withColumn('rank', rank().over(window1))\
    .withColumn('dense_rank', dense_rank().over(window1)).filter(col('dense_rank')<=2)\
    .show()

+---+--------+------+---------+------+------+----+----------+
| id|    name|salary|     dept|gender|row_no|rank|dense_rank|
+---+--------+------+---------+------+------+----+----------+
|  8|   rashi|100000|       IT|     f|     1|   1|         1|
| 11|   rakhi| 50000|       IT|     f|     2|   2|         2|
|  4|  mukesh| 80000|       IT|     m|     1|   1|         1|
|  9|  aditya| 65000|       IT|     m|     2|   2|         2|
|  7|  ragini| 55000|marketing|     f|     1|   1|         1|
|  6|  nikita| 45000|marketing|     f|     2|   2|         2|
|  3| raushan| 70000|marketing|     m|     1|   1|         1|
| 10|   rahul| 50000|marketing|     m|     2|   2|         2|
|  5|   priti| 90000|    sales|     f|     1|   1|         1|
| 12|akhilesh| 90000|    sales|     m|     1|   1|         1|
|  2|  vikash| 60000|    sales|     m|     2|   2|         2|
+---+--------+------+---------+------+------+----+----------+

In [0]:
product_data1 = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

prod_schema1 = ['product_id', 'product_name', 'sales_date', 'sales']

l_l_df = spark.createDataFrame(data=product_data1, schema=prod_schema1)
l_l_df.show()

+----------+------------+----------+-------+
|product_id|product_name|sales_date|  sales|
+----------+------------+----------+-------+
|         1|      iphone|01-01-2023|1500000|
|         2|     samsung|01-01-2023|1100000|
|         3|     oneplus|01-01-2023|1100000|
|         1|      iphone|01-02-2023|1300000|
|         2|     samsung|01-02-2023|1120000|
|         3|     oneplus|01-02-2023|1120000|
|         1|      iphone|01-03-2023|1600000|
|         2|     samsung|01-03-2023|1080000|
|         3|     oneplus|01-03-2023|1160000|
|         1|      iphone|01-04-2023|1700000|
|         2|     samsung|01-04-2023|1800000|
|         3|     oneplus|01-04-2023|1170000|
|         1|      iphone|01-05-2023|1200000|
|         2|     samsung|01-05-2023| 980000|
|         3|     oneplus|01-05-2023|1175000|
|         1|      iphone|01-06-2023|1100000|
|         2|     samsung|01-06-2023|1100000|
|         3|     oneplus|01-06-2023|1200000|
+----------+------------+----------+-------+

In [0]:
win_ll = Window.partitionBy('product_id').orderBy('sales_date')

l_l_df.withColumn('prev_sale', lag(col('sales')).over(win_ll)).show()

+----------+------------+----------+-------+---------+
|product_id|product_name|sales_date|  sales|prev_sale|
+----------+------------+----------+-------+---------+
|         1|      iphone|01-01-2023|1500000|     null|
|         1|      iphone|01-02-2023|1300000|  1500000|
|         1|      iphone|01-03-2023|1600000|  1300000|
|         1|      iphone|01-04-2023|1700000|  1600000|
|         1|      iphone|01-05-2023|1200000|  1700000|
|         1|      iphone|01-06-2023|1100000|  1200000|
|         2|     samsung|01-01-2023|1100000|     null|
|         2|     samsung|01-02-2023|1120000|  1100000|
|         2|     samsung|01-03-2023|1080000|  1120000|
|         2|     samsung|01-04-2023|1800000|  1080000|
|         2|     samsung|01-05-2023| 980000|  1800000|
|         2|     samsung|01-06-2023|1100000|   980000|
|         3|     oneplus|01-01-2023|1100000|     null|
|         3|     oneplus|01-02-2023|1120000|  1100000|
|         3|     oneplus|01-03-2023|1160000|  1120000|
|         3|     oneplus|01-04-2023|1170000|  1160000|
|         3|     oneplus|01-05-2023|1175000|  1170000|
|         3|     oneplus|01-06-2023|1200000|  1175000|
+----------+------------+----------+-------+---------+

In [0]:
win_ll = Window.partitionBy('product_id').orderBy('sales_date')

l_l_df.withColumn('prev_sale', lag(col('sales'), 1).over(win_ll)).show()

+----------+------------+----------+-------+---------+
|product_id|product_name|sales_date|  sales|prev_sale|
+----------+------------+----------+-------+---------+
|         1|      iphone|01-01-2023|1500000|     null|
|         1|      iphone|01-02-2023|1300000|  1500000|
|         1|      iphone|01-03-2023|1600000|  1300000|
|         1|      iphone|01-04-2023|1700000|  1600000|
|         1|      iphone|01-05-2023|1200000|  1700000|
|         1|      iphone|01-06-2023|1100000|  1200000|
|         2|     samsung|01-01-2023|1100000|     null|
|         2|     samsung|01-02-2023|1120000|  1100000|
|         2|     samsung|01-03-2023|1080000|  1120000|
|         2|     samsung|01-04-2023|1800000|  1080000|
|         2|     samsung|01-05-2023| 980000|  1800000|
|         2|     samsung|01-06-2023|1100000|   980000|
|         3|     oneplus|01-01-2023|1100000|     null|
|         3|     oneplus|01-02-2023|1120000|  1100000|
|         3|     oneplus|01-03-2023|1160000|  1120000|
|         3|     oneplus|01-04-2023|1170000|  1160000|
|         3|     oneplus|01-05-2023|1175000|  1170000|
|         3|     oneplus|01-06-2023|1200000|  1175000|
+----------+------------+----------+-------+---------+

In [0]:
win_ll = Window.partitionBy('product_id').orderBy('sales_date')

l_l_df.withColumn('next_sale', lead(col('sales')).over(win_ll)).show()

+----------+------------+----------+-------+---------+
|product_id|product_name|sales_date|  sales|next_sale|
+----------+------------+----------+-------+---------+
|         1|      iphone|01-01-2023|1500000|  1300000|
|         1|      iphone|01-02-2023|1300000|  1600000|
|         1|      iphone|01-03-2023|1600000|  1700000|
|         1|      iphone|01-04-2023|1700000|  1200000|
|         1|      iphone|01-05-2023|1200000|  1100000|
|         1|      iphone|01-06-2023|1100000|     null|
|         2|     samsung|01-01-2023|1100000|  1120000|
|         2|     samsung|01-02-2023|1120000|  1080000|
|         2|     samsung|01-03-2023|1080000|  1800000|
|         2|     samsung|01-04-2023|1800000|   980000|
|         2|     samsung|01-05-2023| 980000|  1100000|
|         2|     samsung|01-06-2023|1100000|     null|
|         3|     oneplus|01-01-2023|1100000|  1120000|
|         3|     oneplus|01-02-2023|1120000|  1160000|
|         3|     oneplus|01-03-2023|1160000|  1170000|
|         3|     oneplus|01-04-2023|1170000|  1175000|
|         3|     oneplus|01-05-2023|1175000|  1200000|
|         3|     oneplus|01-06-2023|1200000|     null|
+----------+------------+----------+-------+---------+

In [0]:
win_ll = Window.partitionBy('product_id').orderBy('sales_date')

l_l_df.withColumn('prev_sale', lag(col('sales'), 2).over(win_ll)).show()

+----------+------------+----------+-------+---------+
|product_id|product_name|sales_date|  sales|prev_sale|
+----------+------------+----------+-------+---------+
|         1|      iphone|01-01-2023|1500000|     null|
|         1|      iphone|01-02-2023|1300000|     null|
|         1|      iphone|01-03-2023|1600000|  1500000|
|         1|      iphone|01-04-2023|1700000|  1300000|
|         1|      iphone|01-05-2023|1200000|  1600000|
|         1|      iphone|01-06-2023|1100000|  1700000|
|         2|     samsung|01-01-2023|1100000|     null|
|         2|     samsung|01-02-2023|1120000|     null|
|         2|     samsung|01-03-2023|1080000|  1100000|
|         2|     samsung|01-04-2023|1800000|  1120000|
|         2|     samsung|01-05-2023| 980000|  1080000|
|         2|     samsung|01-06-2023|1100000|  1800000|
|         3|     oneplus|01-01-2023|1100000|     null|
|         3|     oneplus|01-02-2023|1120000|     null|
|         3|     oneplus|01-03-2023|1160000|  1100000|
|         3|     oneplus|01-04-2023|1170000|  1120000|
|         3|     oneplus|01-05-2023|1175000|  1160000|
|         3|     oneplus|01-06-2023|1200000|  1170000|
+----------+------------+----------+-------+---------+

In [0]:
win_ll = Window.partitionBy('product_id').orderBy('sales_date')

l_l_df.withColumn('prev_sale', lag(col('sales'), 2, 0).over(win_ll)).show()   # replace null by 0

+----------+------------+----------+-------+---------+
|product_id|product_name|sales_date|  sales|prev_sale|
+----------+------------+----------+-------+---------+
|         1|      iphone|01-01-2023|1500000|        0|
|         1|      iphone|01-02-2023|1300000|        0|
|         1|      iphone|01-03-2023|1600000|  1500000|
|         1|      iphone|01-04-2023|1700000|  1300000|
|         1|      iphone|01-05-2023|1200000|  1600000|
|         1|      iphone|01-06-2023|1100000|  1700000|
|         2|     samsung|01-01-2023|1100000|        0|
|         2|     samsung|01-02-2023|1120000|        0|
|         2|     samsung|01-03-2023|1080000|  1100000|
|         2|     samsung|01-04-2023|1800000|  1120000|
|         2|     samsung|01-05-2023| 980000|  1080000|
|         2|     samsung|01-06-2023|1100000|  1800000|
|         3|     oneplus|01-01-2023|1100000|        0|
|         3|     oneplus|01-02-2023|1120000|        0|
|         3|     oneplus|01-03-2023|1160000|  1100000|
|         3|     oneplus|01-04-2023|1170000|  1120000|
|         3|     oneplus|01-05-2023|1175000|  1160000|
|         3|     oneplus|01-06-2023|1200000|  1170000|
+----------+------------+----------+-------+---------+

In [0]:
win_ll = Window.partitionBy('product_id').orderBy('sales_date')

prev_df = l_l_df.withColumn('prev_sale', lag(col('sales')).over(win_ll))
prev_df.show()

+----------+------------+----------+-------+---------+
|product_id|product_name|sales_date|  sales|prev_sale|
+----------+------------+----------+-------+---------+
|         1|      iphone|01-01-2023|1500000|     null|
|         1|      iphone|01-02-2023|1300000|  1500000|
|         1|      iphone|01-03-2023|1600000|  1300000|
|         1|      iphone|01-04-2023|1700000|  1600000|
|         1|      iphone|01-05-2023|1200000|  1700000|
|         1|      iphone|01-06-2023|1100000|  1200000|
|         2|     samsung|01-01-2023|1100000|     null|
|         2|     samsung|01-02-2023|1120000|  1100000|
|         2|     samsung|01-03-2023|1080000|  1120000|
|         2|     samsung|01-04-2023|1800000|  1080000|
|         2|     samsung|01-05-2023| 980000|  1800000|
|         2|     samsung|01-06-2023|1100000|   980000|
|         3|     oneplus|01-01-2023|1100000|     null|
|         3|     oneplus|01-02-2023|1120000|  1100000|
|         3|     oneplus|01-03-2023|1160000|  1120000|
|         3|     oneplus|01-04-2023|1170000|  1160000|
|         3|     oneplus|01-05-2023|1175000|  1170000|
|         3|     oneplus|01-06-2023|1200000|  1175000|
+----------+------------+----------+-------+---------+

In [0]:
prev_df.withColumn('per_loss_and_gain', (col('sales')-col('prev_sale'))).show()

+----------+------------+----------+-------+---------+-----------------+
|product_id|product_name|sales_date|  sales|prev_sale|per_loss_and_gain|
+----------+------------+----------+-------+---------+-----------------+
|         1|      iphone|01-01-2023|1500000|     null|             null|
|         1|      iphone|01-02-2023|1300000|  1500000|          -200000|
|         1|      iphone|01-03-2023|1600000|  1300000|           300000|
|         1|      iphone|01-04-2023|1700000|  1600000|           100000|
|         1|      iphone|01-05-2023|1200000|  1700000|          -500000|
|         1|      iphone|01-06-2023|1100000|  1200000|          -100000|
|         2|     samsung|01-01-2023|1100000|     null|             null|
|         2|     samsung|01-02-2023|1120000|  1100000|            20000|
|         2|     samsung|01-03-2023|1080000|  1120000|           -40000|
|         2|     samsung|01-04-2023|1800000|  1080000|           720000|
|         2|     samsung|01-05-2023| 980000|  1800000|          -820000|
|         2|     samsung|01-06-2023|1100000|   980000|           120000|
|         3|     oneplus|01-01-2023|1100000|     null|             null|
|         3|     oneplus|01-02-2023|1120000|  1100000|            20000|
|         3|     oneplus|01-03-2023|1160000|  1120000|            40000|
|         3|     oneplus|01-04-2023|1170000|  1160000|            10000|
|         3|     oneplus|01-05-2023|1175000|  1170000|             5000|
|         3|     oneplus|01-06-2023|1200000|  1175000|            25000|
+----------+------------+----------+-------+---------+-----------------+

In [0]:
# percentage loss/gain based on previous month sales

prev_df.withColumn('per_loss_and_gain', (col('sales')-col('prev_sale'))/ col('sales') *100).show()

+----------+------------+----------+-------+---------+-------------------+
|product_id|product_name|sales_date|  sales|prev_sale|  per_loss_and_gain|
+----------+------------+----------+-------+---------+-------------------+
|         1|      iphone|01-01-2023|1500000|     null|               null|
|         1|      iphone|01-02-2023|1300000|  1500000|-15.384615384615385|
|         1|      iphone|01-03-2023|1600000|  1300000|              18.75|
|         1|      iphone|01-04-2023|1700000|  1600000|   5.88235294117647|
|         1|      iphone|01-05-2023|1200000|  1700000| -41.66666666666667|
|         1|      iphone|01-06-2023|1100000|  1200000| -9.090909090909092|
|         2|     samsung|01-01-2023|1100000|     null|               null|
|         2|     samsung|01-02-2023|1120000|  1100000| 1.7857142857142856|
|         2|     samsung|01-03-2023|1080000|  1120000|-3.7037037037037033|
|         2|     samsung|01-04-2023|1800000|  1080000|               40.0|
|         2|     samsung|01-05-2023| 980000|  1800000|  -83.6734693877551|
|         2|     samsung|01-06-2023|1100000|   980000| 10.909090909090908|
|         3|     oneplus|01-01-2023|1100000|     null|               null|
|         3|     oneplus|01-02-2023|1120000|  1100000| 1.7857142857142856|
|         3|     oneplus|01-03-2023|1160000|  1120000| 3.4482758620689653|
|         3|     oneplus|01-04-2023|1170000|  1160000| 0.8547008547008548|
|         3|     oneplus|01-05-2023|1175000|  1170000|  0.425531914893617|
|         3|     oneplus|01-06-2023|1200000|  1175000|  2.083333333333333|
+----------+------------+----------+-------+---------+-------------------+

In [0]:
# percentage loss/gain based on previous month sales

prev_df.withColumn('per_loss_and_gain', round((col('sales')-col('prev_sale'))/ col('sales') *100)).show()

+----------+------------+----------+-------+---------+-----------------+
|product_id|product_name|sales_date|  sales|prev_sale|per_loss_and_gain|
+----------+------------+----------+-------+---------+-----------------+
|         1|      iphone|01-01-2023|1500000|     null|             null|
|         1|      iphone|01-02-2023|1300000|  1500000|            -15.0|
|         1|      iphone|01-03-2023|1600000|  1300000|             19.0|
|         1|      iphone|01-04-2023|1700000|  1600000|              6.0|
|         1|      iphone|01-05-2023|1200000|  1700000|            -42.0|
|         1|      iphone|01-06-2023|1100000|  1200000|             -9.0|
|         2|     samsung|01-01-2023|1100000|     null|             null|
|         2|     samsung|01-02-2023|1120000|  1100000|              2.0|
|         2|     samsung|01-03-2023|1080000|  1120000|             -4.0|
|         2|     samsung|01-04-2023|1800000|  1080000|             40.0|
|         2|     samsung|01-05-2023| 980000|  1800000|            -84.0|
|         2|     samsung|01-06-2023|1100000|   980000|             11.0|
|         3|     oneplus|01-01-2023|1100000|     null|             null|
|         3|     oneplus|01-02-2023|1120000|  1100000|              2.0|
|         3|     oneplus|01-03-2023|1160000|  1120000|              3.0|
|         3|     oneplus|01-04-2023|1170000|  1160000|              1.0|
|         3|     oneplus|01-05-2023|1175000|  1170000|              0.0|
|         3|     oneplus|01-06-2023|1200000|  1175000|              2.0|
+----------+------------+----------+-------+---------+-----------------+

In [0]:
# percentage loss/gain based on previous month sales

prev_df.withColumn('per_loss_and_gain', round((col('sales')-col('prev_sale'))/ col('sales') *100), 2).show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-869913061948850>:3
      1 # percentage sales growth
----> 3 prev_df.withColumn('per_loss_and_gain', round((col('sales')-col('prev_sale'))/ col('sales') *100), 2).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: withColumn() takes 3 positional arguments but 4 were given

In [0]:
# percentage loss/gain based on previous month sales

prev_df.withColumn('per_loss_and_gain', round((col('sales')-col('prev_sale'))/ col('sales') *100, 2)).show()

+----------+------------+----------+-------+---------+-----------------+
|product_id|product_name|sales_date|  sales|prev_sale|per_loss_and_gain|
+----------+------------+----------+-------+---------+-----------------+
|         1|      iphone|01-01-2023|1500000|     null|             null|
|         1|      iphone|01-02-2023|1300000|  1500000|           -15.38|
|         1|      iphone|01-03-2023|1600000|  1300000|            18.75|
|         1|      iphone|01-04-2023|1700000|  1600000|             5.88|
|         1|      iphone|01-05-2023|1200000|  1700000|           -41.67|
|         1|      iphone|01-06-2023|1100000|  1200000|            -9.09|
|         2|     samsung|01-01-2023|1100000|     null|             null|
|         2|     samsung|01-02-2023|1120000|  1100000|             1.79|
|         2|     samsung|01-03-2023|1080000|  1120000|             -3.7|
|         2|     samsung|01-04-2023|1800000|  1080000|             40.0|
|         2|     samsung|01-05-2023| 980000|  1800000|           -83.67|
|         2|     samsung|01-06-2023|1100000|   980000|            10.91|
|         3|     oneplus|01-01-2023|1100000|     null|             null|
|         3|     oneplus|01-02-2023|1120000|  1100000|             1.79|
|         3|     oneplus|01-03-2023|1160000|  1120000|             3.45|
|         3|     oneplus|01-04-2023|1170000|  1160000|             0.85|
|         3|     oneplus|01-05-2023|1175000|  1170000|             0.43|
|         3|     oneplus|01-06-2023|1200000|  1175000|             2.08|
+----------+------------+----------+-------+---------+-----------------+

In [0]:
# percentage of sales each month based on last 6 months

prev_df.show()

+----------+------------+----------+-------+---------+
|product_id|product_name|sales_date|  sales|prev_sale|
+----------+------------+----------+-------+---------+
|         1|      iphone|01-01-2023|1500000|     null|
|         1|      iphone|01-02-2023|1300000|  1500000|
|         1|      iphone|01-03-2023|1600000|  1300000|
|         1|      iphone|01-04-2023|1700000|  1600000|
|         1|      iphone|01-05-2023|1200000|  1700000|
|         1|      iphone|01-06-2023|1100000|  1200000|
|         2|     samsung|01-01-2023|1100000|     null|
|         2|     samsung|01-02-2023|1120000|  1100000|
|         2|     samsung|01-03-2023|1080000|  1120000|
|         2|     samsung|01-04-2023|1800000|  1080000|
|         2|     samsung|01-05-2023| 980000|  1800000|
|         2|     samsung|01-06-2023|1100000|   980000|
|         3|     oneplus|01-01-2023|1100000|     null|
|         3|     oneplus|01-02-2023|1120000|  1100000|
|         3|     oneplus|01-03-2023|1160000|  1120000|
|         3|     oneplus|01-04-2023|1170000|  1160000|
|         3|     oneplus|01-05-2023|1175000|  1170000|
|         3|     oneplus|01-06-2023|1200000|  1175000|
+----------+------------+----------+-------+---------+

In [0]:
# percentage of sales each month based on last 6 months
win_ll = Window.partitionBy('sales_date')

each_month_sales_df = l_l_df.withColumn("each_month_sales", sum(col('sales')).over(win_ll))

each_month_sales_df.show()

+----------+------------+----------+-------+----------------+
|product_id|product_name|sales_date|  sales|each_month_sales|
+----------+------------+----------+-------+----------------+
|         1|      iphone|01-01-2023|1500000|         3700000|
|         2|     samsung|01-01-2023|1100000|         3700000|
|         3|     oneplus|01-01-2023|1100000|         3700000|
|         1|      iphone|01-02-2023|1300000|         3540000|
|         2|     samsung|01-02-2023|1120000|         3540000|
|         3|     oneplus|01-02-2023|1120000|         3540000|
|         1|      iphone|01-03-2023|1600000|         3840000|
|         2|     samsung|01-03-2023|1080000|         3840000|
|         3|     oneplus|01-03-2023|1160000|         3840000|
|         1|      iphone|01-04-2023|1700000|         4670000|
|         2|     samsung|01-04-2023|1800000|         4670000|
|         3|     oneplus|01-04-2023|1170000|         4670000|
|         1|      iphone|01-05-2023|1200000|         3355000|
|         2|     samsung|01-05-2023| 980000|         3355000|
|         3|     oneplus|01-05-2023|1175000|         3355000|
|         1|      iphone|01-06-2023|1100000|         3400000|
|         2|     samsung|01-06-2023|1100000|         3400000|
|         3|     oneplus|01-06-2023|1200000|         3400000|
+----------+------------+----------+-------+----------------+

In [0]:
# percentage of sales each month based on last 6 months

each_month_sales_df.withColumn("%sales", (col('each_month_sales')-col('sales'))/col('sales')*100).show()

+----------+------------+----------+-------+----------------+------------------+
|product_id|product_name|sales_date|  sales|each_month_sales|            %sales|
+----------+------------+----------+-------+----------------+------------------+
|         1|      iphone|01-01-2023|1500000|         3700000|146.66666666666666|
|         2|     samsung|01-01-2023|1100000|         3700000|236.36363636363637|
|         3|     oneplus|01-01-2023|1100000|         3700000|236.36363636363637|
|         1|      iphone|01-02-2023|1300000|         3540000|172.30769230769232|
|         2|     samsung|01-02-2023|1120000|         3540000|216.07142857142856|
|         3|     oneplus|01-02-2023|1120000|         3540000|216.07142857142856|
|         1|      iphone|01-03-2023|1600000|         3840000|             140.0|
|         2|     samsung|01-03-2023|1080000|         3840000|255.55555555555554|
|         3|     oneplus|01-03-2023|1160000|         3840000| 231.0344827586207|
|         1|      iphone|01-04-2023|1700000|         4670000| 174.7058823529412|
|         2|     samsung|01-04-2023|1800000|         4670000|159.44444444444446|
|         3|     oneplus|01-04-2023|1170000|         4670000|299.14529914529913|
|         1|      iphone|01-05-2023|1200000|         3355000|179.58333333333334|
|         2|     samsung|01-05-2023| 980000|         3355000| 242.3469387755102|
|         3|     oneplus|01-05-2023|1175000|         3355000|185.53191489361703|
|         1|      iphone|01-06-2023|1100000|         3400000| 209.0909090909091|
|         2|     samsung|01-06-2023|1100000|         3400000| 209.0909090909091|
|         3|     oneplus|01-06-2023|1200000|         3400000|183.33333333333331|
+----------+------------+----------+-------+----------------+------------------+