In [0]:
#if-else

emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

emp_schema = ['id','name', 'age', 'salary', 'country', 'dept']

emp_df = spark.createDataFrame(data=emp_data, schema=emp_schema)
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_df.withColumn('adult', when(col('age') > 18, 'yes')
                  .when(col('age') < 18, 'no').
                  otherwise('no_value')).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country|       dept|   adult|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|     yes|
|   2|  rahul|null| 40000|germany|engineering|no_value|
|   3|  pawan|  12| 60000|  india|      sales|      no|
|   4|roshini|  44|  null|     uk|engineering|     yes|
|   5|raushan|  35| 70000|  india|      sales|     yes|
|   6|   null|  29|200000|     uk|         IT|     yes|
|   7|   adam|  37| 65000|     us|         IT|     yes|
|   8|  chris|  16| 40000|     us|      sales|      no|
|null|   null|null|  null|   null|       null|no_value|
|   7|   adam|  37| 65000|     us|         IT|     yes|
+----+-------+----+------+-------+-----------+--------+

In [0]:
emp_df.withColumn('age', when(col('age').isNull(), lit(19)))\
    .withColumn('adult', when(col('age')> 18, 'yes').
                otherwise("no")).show()

+----+-------+----+------+-------+-----------+-----+
|  id|   name| age|salary|country|       dept|adult|
+----+-------+----+------+-------+-----------+-----+
|   1| manish|null| 20000|  india|         IT|   no|
|   2|  rahul|  19| 40000|germany|engineering|  yes|
|   3|  pawan|null| 60000|  india|      sales|   no|
|   4|roshini|null|  null|     uk|engineering|   no|
|   5|raushan|null| 70000|  india|      sales|   no|
|   6|   null|null|200000|     uk|         IT|   no|
|   7|   adam|null| 65000|     us|         IT|   no|
|   8|  chris|null| 40000|     us|      sales|   no|
|null|   null|  19|  null|   null|       null|  yes|
|   7|   adam|null| 65000|     us|         IT|   no|
+----+-------+----+------+-------+-----------+-----+

In [0]:
# 1st handle null values and then when-otherwise

emp_df.withColumn('age', when(col('age').isNull(), lit(19))
                  .otherwise(col('age')))\
    .withColumn('adult', when(col('age')> 19, 'yes').
                otherwise("no")).show()

+----+-------+---+------+-------+-----------+-----+
|  id|   name|age|salary|country|       dept|adult|
+----+-------+---+------+-------+-----------+-----+
|   1| manish| 26| 20000|  india|         IT|  yes|
|   2|  rahul| 19| 40000|germany|engineering|   no|
|   3|  pawan| 12| 60000|  india|      sales|   no|
|   4|roshini| 44|  null|     uk|engineering|  yes|
|   5|raushan| 35| 70000|  india|      sales|  yes|
|   6|   null| 29|200000|     uk|         IT|  yes|
|   7|   adam| 37| 65000|     us|         IT|  yes|
|   8|  chris| 16| 40000|     us|      sales|   no|
|null|   null| 19|  null|   null|       null|   no|
|   7|   adam| 37| 65000|     us|         IT|  yes|
+----+-------+---+------+-------+-----------+-----+

In [0]:
emp_df.withColumn("age_range", when((col('age')>0) & (col('age')<18), 'minor')
                  .when((col('age')>18) & (col('age') <30), 'mid')
                  .otherwise("major")).show()

+----+-------+----+------+-------+-----------+---------+
|  id|   name| age|salary|country|       dept|age_range|
+----+-------+----+------+-------+-----------+---------+
|   1| manish|  26| 20000|  india|         IT|      mid|
|   2|  rahul|null| 40000|germany|engineering|    major|
|   3|  pawan|  12| 60000|  india|      sales|    minor|
|   4|roshini|  44|  null|     uk|engineering|    major|
|   5|raushan|  35| 70000|  india|      sales|    major|
|   6|   null|  29|200000|     uk|         IT|      mid|
|   7|   adam|  37| 65000|     us|         IT|    major|
|   8|  chris|  16| 40000|     us|      sales|    minor|
|null|   null|null|  null|   null|       null|    major|
|   7|   adam|  37| 65000|     us|         IT|    major|
+----+-------+----+------+-------+-----------+---------+

In [0]:
emp_df.createOrReplaceTempView('emp_df_table')

In [0]:
spark.sql("""
          select *,  case when age <18 then 'minor'
          when age > 18 then 'major'
          else 'mid'
          end as age_range

          from emp_df_table
          """).show()

+----+-------+----+------+-------+-----------+---------+
|  id|   name| age|salary|country|       dept|age_range|
+----+-------+----+------+-------+-----------+---------+
|   1| manish|  26| 20000|  india|         IT|    major|
|   2|  rahul|null| 40000|germany|engineering|      mid|
|   3|  pawan|  12| 60000|  india|      sales|    minor|
|   4|roshini|  44|  null|     uk|engineering|    major|
|   5|raushan|  35| 70000|  india|      sales|    major|
|   6|   null|  29|200000|     uk|         IT|    major|
|   7|   adam|  37| 65000|     us|         IT|    major|
|   8|  chris|  16| 40000|     us|      sales|    minor|
|null|   null|null|  null|   null|       null|      mid|
|   7|   adam|  37| 65000|     us|         IT|    major|
+----+-------+----+------+-------+-----------+---------+

In [0]:
data1 =[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),      
(14 ,'Priya',90000,  18),  
(18 ,'Sam',65000,   17)]
     
schema1 = ['id', 'name', 'salary', 'mang_id']

man_df = spark.createDataFrame(data=data1, schema=schema1)
man_df.show()

+---+------+------+-------+
| id|  name|salary|mang_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 15| Mohit| 45000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 90000|     18|
| 18|   Sam| 65000|     17|
+---+------+------+-------+

In [0]:
man_df.distinct().show()

+---+------+------+-------+
| id|  name|salary|mang_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 12| Nisha| 40000|     18|
| 11| Vikas| 75000|     16|
| 13| Nidhi| 60000|     17|
| 15| Mohit| 45000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 14| Priya| 90000|     18|
+---+------+------+-------+

In [0]:
man_df.distinct("id", 'name').show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-1651294913096947>:1
----> 1 man_df.distinct("id", 'name').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: distinct() takes 1 positional argument but 3 were given

In [0]:
man_df.select('id', 'name').distinct().show()

+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 16|Rajesh|
| 18|   Sam|
+---+------+

In [0]:
man_df.drop_duplicates(['id', 'name', 'salary', 'mang_id']).show()

+---+------+------+-------+
| id|  name|salary|mang_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 12| Nisha| 40000|     18|
| 11| Vikas| 75000|     16|
| 13| Nidhi| 60000|     17|
| 15| Mohit| 45000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 14| Priya| 90000|     18|
+---+------+------+-------+

In [0]:
man_df.sort('salary').show()

+---+------+------+-------+
| id|  name|salary|mang_id|
+---+------+------+-------+
| 12| Nisha| 40000|     18|
| 15| Mohit| 45000|     18|
| 15| Mohit| 45000|     18|
| 10|  Anil| 50000|     18|
| 17| Raman| 55000|     16|
| 13| Nidhi| 60000|     17|
| 13| Nidhi| 60000|     17|
| 18|   Sam| 65000|     17|
| 18|   Sam| 65000|     17|
| 11| Vikas| 75000|     16|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 14| Priya| 90000|     18|
+---+------+------+-------+

In [0]:
man_df.sort('salary'.desc()).show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-2027943363197537>:1
----> 1 man_df.sort('salary'.desc()).show()

AttributeError: 'str' object has no attribute 'desc'

In [0]:
man_df.sort(col('salary').desc()).show()

+---+------+------+-------+
| id|  name|salary|mang_id|
+---+------+------+-------+
| 16|Rajesh| 90000|     10|
| 14| Priya| 90000|     18|
| 14| Priya| 80000|     18|
| 11| Vikas| 75000|     16|
| 18|   Sam| 65000|     17|
| 18|   Sam| 65000|     17|
| 13| Nidhi| 60000|     17|
| 13| Nidhi| 60000|     17|
| 17| Raman| 55000|     16|
| 10|  Anil| 50000|     18|
| 15| Mohit| 45000|     18|
| 15| Mohit| 45000|     18|
| 12| Nisha| 40000|     18|
+---+------+------+-------+

In [0]:
man_df.sort(col('salary').desc(), col('name').desc()).show()

+---+------+------+-------+
| id|  name|salary|mang_id|
+---+------+------+-------+
| 16|Rajesh| 90000|     10|
| 14| Priya| 90000|     18|
| 14| Priya| 80000|     18|
| 11| Vikas| 75000|     16|
| 18|   Sam| 65000|     17|
| 18|   Sam| 65000|     17|
| 13| Nidhi| 60000|     17|
| 13| Nidhi| 60000|     17|
| 17| Raman| 55000|     16|
| 10|  Anil| 50000|     18|
| 15| Mohit| 45000|     18|
| 15| Mohit| 45000|     18|
| 12| Nisha| 40000|     18|
+---+------+------+-------+

In [0]:
# find names which are not referred by id 2

leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

schema1 = ['id', 'name', 'ref_id']

leet_df = spark.createDataFrame(data=leet_code_data, schema=schema1)
leet_df.show()

+---+----+------+
| id|name|ref_id|
+---+----+------+
|  1|Will|  null|
|  2|Jane|  null|
|  3|Alex|     2|
|  4|Bill|  null|
|  5|Zack|     1|
|  6|Mark|     2|
+---+----+------+

In [0]:
leet_df.select('name').where((col('ref_id') !=2) | (col('ref_id').isNull())).show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

In [0]:
leet_df.createOrReplaceTempView('leet_table')

In [0]:
spark.sql("""
          select name from leet_table where ref_id not in (2) or ref_id is null
          """).show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

In [0]:
emp_d = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

sch1 = ['id', 'name', 'age', 'salary', 'country', 'dept']

dept_df = spark.createDataFrame(data=emp_d, schema=sch1)
dept_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
dept_df.count()

Out[59]: 10

In [0]:
dept_df.select(count('id')).show()

+---------+
|count(id)|
+---------+
|        9|
+---------+

In [0]:
dept_df.select(count('name')).show()     # transformation => show is an action

+-----------+
|count(name)|
+-----------+
|          8|
+-----------+

In [0]:
dept_df.select(count('*')).show()

+--------+
|count(1)|
+--------+
|      10|
+--------+

In [0]:
dept_df.select(sum('salary'), min('salary'), max('salary')).show()

+-----------+-----------+-----------+
|sum(salary)|min(salary)|max(salary)|
+-----------+-----------+-----------+
|     560000|      20000|     200000|
+-----------+-----------+-----------+

In [0]:
dept_df.select(sum('salary').alias('total_sal'), min('salary').alias('min_sal'), max('salary').alias('max_sal')).show()

+---------+-------+-------+
|total_sal|min_sal|max_sal|
+---------+-------+-------+
|   560000|  20000| 200000|
+---------+-------+-------+

In [0]:
dept_df.select(avg('salary'), sum('salary'), count('salary')).show()

+-----------+-----------+-------------+
|avg(salary)|sum(salary)|count(salary)|
+-----------+-----------+-------------+
|    70000.0|     560000|            8|
+-----------+-----------+-------------+

In [0]:
dept_df.select(avg('salary').cast('int'), sum('salary'), count('salary')).show()

+------------------------+-----------+-------------+
|CAST(avg(salary) AS INT)|sum(salary)|count(salary)|
+------------------------+-----------+-------------+
|                   70000|     560000|            8|
+------------------------+-----------+-------------+

In [0]:
dept_df.select(avg('salary').cast('int').alias('avg_sal'), sum('salary'), count('salary')).show()

+-------+-----------+-------------+
|avg_sal|sum(salary)|count(salary)|
+-------+-----------+-------------+
|  70000|     560000|            8|
+-------+-----------+-------------+

In [0]:
dept_df.groupBy('dept').agg(sum('salary')).show()

+-----------+-----------+
|       dept|sum(salary)|
+-----------+-----------+
|         IT|     350000|
|engineering|      40000|
|      sales|     170000|
|       null|       null|
+-----------+-----------+

In [0]:
spark.sql("""
          select dept, sum(salary) from emp_df_table group by dept
          """).show()

+-----------+-----------+
|       dept|sum(salary)|
+-----------+-----------+
|         IT|     350000|
|engineering|      40000|
|      sales|     170000|
|       null|       null|
+-----------+-----------+