In [0]:
my_data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

In [0]:
my_schema = ['id', 'name', 'salary', 'manager_id']

In [0]:
man_df = spark.createDataFrame(data=my_data, schema=my_schema)
man_df.show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
+---+------+------+----------+

In [0]:
man_df.columns

Out[5]: ['id', 'name', 'salary', 'manager_id']

In [0]:
man_df.count()

Out[7]: 9

In [0]:
my_data2 = [(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]

In [0]:
man_df2 = spark.createDataFrame(data=my_data2, schema=my_schema)
man_df2.show()

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

In [0]:
man_df.union(man_df2).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

In [0]:
man_df.union(man_df2).count()

Out[11]: 11

In [0]:
dup_my_data = [(18 ,'Sam',65000, 17),
               (18 ,'Sam',65000, 18),
               (19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]

dup_man_df = spark.createDataFrame(data=dup_my_data, schema=my_schema)
dup_man_df.show()

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 18|  Sam| 65000|        17|
| 18|  Sam| 65000|        18|
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

In [0]:
man_df.unionAll(dup_man_df).count()

Out[14]: 13

In [0]:
man_df.union(dup_man_df).count()

Out[15]: 13

In [0]:
# union and unionAll diff in sql

man_df.createOrReplaceTempView('man_table1')
dup_man_df.createOrReplaceTempView('dup_man_table')

In [0]:
spark.sql("""
          select * from man_table1 union select * from dup_man_table         
          """).count()

Out[19]: 12

In [0]:
spark.sql("""
          select * from man_table1 union all select * from dup_man_table
          """).count()

Out[20]: 13

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_schema = ['id', 'salary', 'manager_id', 'name']

wrong_df = spark.createDataFrame(data=wrong_column_data, schema=wrong_schema)
wrong_df.show()

+---+------+----------+-----+
| id|salary|manager_id| name|
+---+------+----------+-----+
| 19| 50000|        18|Sohan|
| 20| 75000|        17| Sima|
+---+------+----------+-----+

In [0]:
man_df2.union(wrong_df).show()       # didnt give error just adds data

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
| 19|50000|    18|     Sohan|
| 20|75000|    17|      Sima|
+---+-----+------+----------+

In [0]:
man_df2.unionByName(wrong_df).show()

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

In [0]:
bonus_column_data=[(19 ,50000, 18,'Sohan',10),
(20 ,75000,  17,'Sima',20)]

bonus_schema = ['id', 'salary', 'manager_id', 'name', 'bonus']

bonus_df = spark.createDataFrame(data=bonus_column_data, schema=bonus_schema)
bonus_df.show()

+---+------+----------+-----+-----+
| id|salary|manager_id| name|bonus|
+---+------+----------+-----+-----+
| 19| 50000|        18|Sohan|   10|
| 20| 75000|        17| Sima|   20|
+---+------+----------+-----+-----+

In [0]:
man_df2.union(bonus_df).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1939120066843713>:1
----> 1 man_df2.union(bonus_df).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3646, in DataFrame.union(self, other)
   3598 def union(self, other: "DataFrame") -> "DataFrame":
   3599     """Return a new :class:`DataFrame` containing union of rows in this and another
   3600     :class:`DataFrame`.
   3601
   (...)
   3644     +----+----+----+
   3645     """
-> 3646     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 4 columns and the second input has 5 columns.;
'Union false, false
:- LogicalRDD [id#1685L, name#1686, salary#1687L, manager_id#1688L], false
+- LogicalRDD [id#2256L, salary#2257L, manager_id#2258L, name#2259, bonus#2260L], false

In [0]:
bonus_df.select('id', 'salary', 'manager_id', 'name').union(man_df2).show()

+---+------+----------+-----+
| id|salary|manager_id| name|
+---+------+----------+-----+
| 19| 50000|        18|Sohan|
| 20| 75000|        17| Sima|
| 19| Sohan|     50000|   18|
| 20|  Sima|     75000|   17|
+---+------+----------+-----+

In [0]:
bonus_df.select('id', 'name', 'salary', 'manager_id').union(man_df2).show()    # correct column names given

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+